<h3>Sample Base Component - Count @SomeCount</h3>

@*Uncomment the code below and delete SampleBaseComponent.razor.cs to observe that no code behind also yeilds the same error.*@
@*@code {
    protected virtual int SomeCount => 5;
}*@
